@media (max-width: 1293px) {
    .wallpaper img {
        width: 530px;
        margin-top: 71px;
        margin-left: 460px;
        
    }

    .content {
        position: absolute;
        top: 25%;
        left: 16%;
    }
} 

@media (max-width: 980px) {
    .wallpaper img {
        max-height: 420px;
        width: 530px;
        margin-top: 71px;
        margin-left: 416px;
    }
    
}

@media (max-width: 929px) {
    .header {
        justify-content: space-between; 
    }
    
    label.menu-hamburguer {
        display: block;
    }

    .menu-icone {
        width: 38px;
    }

    .menu-element {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #0e0d0d;
        top: 99px;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s;
        border-radius: 3px;
    }

    .menu-element li {
      margin: 20px 0; 
      padding: 10px; 
      line-height: 20px; 
    }

    .menu-element a {
        font-size: 1.2em;
        transition: all 0.5s;
        color: rgba(255, 255, 255, 0.555);
    }

    .menu-element a::after {
       background-color:  aquamarine;
    }

    .menu-element a:hover {
        color: white;
    }

    #check:checked ~ .menu-element {
        left: 0%;
    }

    .section {
        padding: 10px;
    }

    .content-title{
        font-size: 3em;
        text-align: center; 
    }

    .content-paragraph {
        font-size: 25px;
    }

    .button-start {
        width: 214px;
        height: 47px;
        font-size: 20px;
    }

    .wrap-content{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .content {
        position: static;
        margin: 0 auto;
    }

    .wallpaper img {
        max-width: 100%;
        margin: 0;
    }
}