@media (max-width: 595px) { /* header */
    .header {
        background-color: azure;
    }
    .menu {
        /* background-image: url(incone/incone); */
        display: none;
    }
    
}

@media(max-width: 1300px) {
    .section {
        background-color: blueviolet;
    }

    .content {
        position: absolute;
        top: 25%;
        left: 18%;
    }

   .wallpaper img  {
        max-height: 420px;
        width: 590px;
        margin-top: 67px;
        margin-left: 480px;
    }
}
       
@media (max-width: 1110px) {
    .section {
        background-color: blueviolet;
    }
    .wallpaper img {
        max-height: 420px;
        width: 530px;
        margin-top: 71px;
        margin-left: 435px;
    }

    .content {
        position: absolute;
        top: 25%;
        left: 16%;
    }
}

@media (max-width: 980px) {
    .wallpaper img {
        max-height: 420px;
        width: 530px;
        margin-top: 71px;
        margin-left: 416px;
    }

}

@media (max-width: 929px) { 
    .conteiner {
        margin-top: 50px;
    }

    .wallpaper img {
        max-height: 420px;
        width: 490px;
        margin-top: 71px;
        margin-left: 409px;
    }
}

@media (max-width: 884px) {
    .content-title{
        font-size: max(60px,6vw);
    }
    .content-paragraph {
        font-size: 25px;
    }

    .button-start {
        width: 214px;
        height: 47px;
        font-size: 20px;
    }

    .teste {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .content {
        position: static;
        margin: 0 auto;
    }

    .wallpaper img {
        max-height: 420px;
        width: 490px;
        margin: 0;
    }
}